<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.ARPMapper" >
  <select id="query_nameBySingle" resultType="java.lang.Integer" parameterType="map" >
   select count(*) as selectcount from arpinfo where siteId=#{siteId} and name=#{afterName}
	<if test="beforeName!=null"> and name!=#{beforeName}</if>		  
  </select> 
  <select id="queryBySiteId" resultType="ARPInfo" parameterType="java.lang.Integer" >
   select * from arpinfo where siteId=#{0}		  
  </select> 
</mapper>