<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.L2cpInstMapper" >
  <resultMap id="BaseResultMap" type="L2cpInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="siteid" property="siteId" jdbcType="INTEGER" />
    <result column="l2cpEnable" property="l2cpEnable" jdbcType="INTEGER" />
    <result column="bpduTreaty" property="bpduTreaty" jdbcType="INTEGER" />
    <result column="lldpTreaty" property="lldpTreaty" jdbcType="INTEGER" />
    <result column="lacpTreaty" property="lacpTreaty" jdbcType="INTEGER" />
    <result column="ieeeTreaty" property="ieeeTreaty" jdbcType="INTEGER" />
    <result column="macAddress" property="macAddress" jdbcType="VARCHAR" />
    <result column="treatyNumber" property="treatyNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, siteid, l2cpEnable, bpduTreaty, lldpTreaty, lacpTreaty, ieeeTreaty, macAddress, 
    treatyNumber
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from l2cp_inst
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from l2cp_inst
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="L2cpInfo" >
    insert into l2cp_inst (id, siteid, l2cpEnable, 
      bpduTreaty, lldpTreaty, lacpTreaty, 
      ieeeTreaty, macAddress, treatyNumber
      )
    values (#{id,jdbcType=INTEGER}, #{siteid,jdbcType=INTEGER}, #{l2cpenable,jdbcType=INTEGER}, 
      #{bpdutreaty,jdbcType=INTEGER}, #{lldptreaty,jdbcType=INTEGER}, #{lacptreaty,jdbcType=INTEGER}, 
      #{ieeetreaty,jdbcType=INTEGER}, #{macaddress,jdbcType=VARCHAR}, #{treatynumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="L2cpInfo" >
    insert into l2cp_inst
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="siteid != null" >
        siteid,
      </if>
      <if test="l2cpenable != null" >
        l2cpEnable,
      </if>
      <if test="bpdutreaty != null" >
        bpduTreaty,
      </if>
      <if test="lldptreaty != null" >
        lldpTreaty,
      </if>
      <if test="lacptreaty != null" >
        lacpTreaty,
      </if>
      <if test="ieeetreaty != null" >
        ieeeTreaty,
      </if>
      <if test="macaddress != null" >
        macAddress,
      </if>
      <if test="treatynumber != null" >
        treatyNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteid != null" >
        #{siteid,jdbcType=INTEGER},
      </if>
      <if test="l2cpenable != null" >
        #{l2cpenable,jdbcType=INTEGER},
      </if>
      <if test="bpdutreaty != null" >
        #{bpdutreaty,jdbcType=INTEGER},
      </if>
      <if test="lldptreaty != null" >
        #{lldptreaty,jdbcType=INTEGER},
      </if>
      <if test="lacptreaty != null" >
        #{lacptreaty,jdbcType=INTEGER},
      </if>
      <if test="ieeetreaty != null" >
        #{ieeetreaty,jdbcType=INTEGER},
      </if>
      <if test="macaddress != null" >
        #{macaddress,jdbcType=VARCHAR},
      </if>
      <if test="treatynumber != null" >
        #{treatynumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="L2cpInfo" >
    update l2cp_inst
    <set >
      <if test="siteid != null" >
        siteid = #{siteid,jdbcType=INTEGER},
      </if>
      <if test="l2cpenable != null" >
        l2cpEnable = #{l2cpenable,jdbcType=INTEGER},
      </if>
      <if test="bpdutreaty != null" >
        bpduTreaty = #{bpdutreaty,jdbcType=INTEGER},
      </if>
      <if test="lldptreaty != null" >
        lldpTreaty = #{lldptreaty,jdbcType=INTEGER},
      </if>
      <if test="lacptreaty != null" >
        lacpTreaty = #{lacptreaty,jdbcType=INTEGER},
      </if>
      <if test="ieeetreaty != null" >
        ieeeTreaty = #{ieeetreaty,jdbcType=INTEGER},
      </if>
      <if test="macaddress != null" >
        macAddress = #{macaddress,jdbcType=VARCHAR},
      </if>
      <if test="treatynumber != null" >
        treatyNumber = #{treatynumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="L2cpInfo" >
    update l2cp_inst
    set siteid = #{siteid,jdbcType=INTEGER},
      l2cpEnable = #{l2cpenable,jdbcType=INTEGER},
      bpduTreaty = #{bpdutreaty,jdbcType=INTEGER},
      lldpTreaty = #{lldptreaty,jdbcType=INTEGER},
      lacpTreaty = #{lacptreaty,jdbcType=INTEGER},
      ieeeTreaty = #{ieeetreaty,jdbcType=INTEGER},
      macAddress = #{macaddress,jdbcType=VARCHAR},
      treatyNumber = #{treatynumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryBySiteId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from l2cp_inst where siteid=#{siteId}
  </select>
</mapper>