<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.qos.QosTemplateInfoMapper" >
  <resultMap id="BaseResultMap" type="QosTemplateInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="templateName" property="templateName" jdbcType="VARCHAR" />
    <result column="qosType" property="qosType" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="cos" property="cos" jdbcType="INTEGER" />
    <result column="direction" property="direction" jdbcType="VARCHAR" />
    <result column="cir" property="cir" jdbcType="INTEGER" />
    <result column="cbs" property="cbs" jdbcType="INTEGER" />
    <result column="eir" property="eir" jdbcType="INTEGER" />
    <result column="ebs" property="ebs" jdbcType="INTEGER" />
    <result column="pir" property="pir" jdbcType="INTEGER" />
    <result column="pbs" property="pbs" jdbcType="INTEGER" />
    <result column="strategy" property="strategy" jdbcType="INTEGER" />
    <result column="colorSense" property="colorSense" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, templateName, qosType, seq, cos, direction, cir, cbs, eir, ebs, pir, pbs, strategy, 
    colorSense
  </sql>
  <select id="queryByCondition" resultType="QosTemplateInfo" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from qostemplateinfo
    where templateName = #{templateName}
  </select>
  <select id="queryByIdList" resultType="QosTemplateInfo" parameterType="java.util.List" >
    select id from qosTemplateInfo where id in
    <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">  
 	 #{item}  
 	</foreach>
  </select>
   <select id="select" resultType="QosTemplateInfo" >
    select 
    <include refid="Base_Column_List" />
    from qostemplateinfo
  </select>
  <delete id="delete" parameterType="QosTemplateInfo" >
    delete from qostemplateinfo
    where templateName = #{templateName} and qosType = #{qosType}
  </delete>
  <insert id="insert" parameterType="QosTemplateInfo" >
    insert into qostemplateinfo (id, templateName, qosType, 
      seq, cos, direction, 
      cir, cbs, eir, ebs, 
      pir, pbs, strategy, 
      colorSense)
    values (#{id,jdbcType=INTEGER}, #{templateName,jdbcType=VARCHAR}, #{qosType,jdbcType=VARCHAR}, 
      #{seq,jdbcType=INTEGER}, #{cos,jdbcType=INTEGER}, #{direction,jdbcType=VARCHAR}, 
      #{cir,jdbcType=INTEGER}, #{cbs,jdbcType=INTEGER}, #{eir,jdbcType=INTEGER}, #{ebs,jdbcType=INTEGER}, 
      #{pir,jdbcType=INTEGER}, #{pbs,jdbcType=INTEGER}, #{strategy,jdbcType=INTEGER}, 
      #{colorSence,jdbcType=INTEGER})
  </insert>
  <update id="update" parameterType="QosTemplateInfo" >
    update qostemplateinfo
    set templateName = #{templateName,jdbcType=VARCHAR},
      qosType = #{qosType,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER},
      cos = #{cos,jdbcType=INTEGER},
      direction = #{direction,jdbcType=VARCHAR},
      cir = #{cir,jdbcType=INTEGER},
      cbs = #{cbs,jdbcType=INTEGER},
      eir = #{eir,jdbcType=INTEGER},
      ebs = #{ebs,jdbcType=INTEGER},
      pir = #{pir,jdbcType=INTEGER},
      pbs = #{pbs,jdbcType=INTEGER},
      strategy = #{strategy,jdbcType=INTEGER},
      colorSense = #{colorSence,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>