<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.oam.OamEthernetInfoMapper" >
  <resultMap id="BaseResultMap" type="OamEthernetInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="siteId" property="siteId" jdbcType="INTEGER" />
    <result column="thernetOAMEnabl" property="thernetOAMEnabl" jdbcType="INTEGER" />
    <result column="mdMLevel" property="mdMLevel" jdbcType="VARCHAR" />
    <result column="mpLable" property="mpLable" jdbcType="INTEGER" />
    <result column="mdName" property="mdName" jdbcType="VARCHAR" />
    <result column="mdLevel" property="mdLevel" jdbcType="VARCHAR" />
    <result column="maName" property="maName" jdbcType="VARCHAR" />
    <result column="ccmsend" property="ccmsend" jdbcType="INTEGER" />
    <result column="vlan" property="vlan" jdbcType="VARCHAR" />
    <result column="mepId" property="mepId" jdbcType="VARCHAR" />
    <result column="mepType" property="mepType" jdbcType="INTEGER" />
    <result column="port" property="port" jdbcType="VARCHAR" />
    <result column="ccmSendEnable" property="ccmSendEnable" jdbcType="INTEGER" />
    <result column="ccmReceiveEnable" property="ccmReceiveEnable" jdbcType="INTEGER" />
    <result column="ccmPriority" property="ccmPriority" jdbcType="VARCHAR" />
    <result column="lbmTlvType" property="lbmTlvType" jdbcType="INTEGER" />
    <result column="lbmTlvTypeLength" property="lbmTlvTypeLength" jdbcType="VARCHAR" />
    <result column="lbmPriority" property="lbmPriority" jdbcType="VARCHAR" />
    <result column="lbmDiscard" property="lbmDiscard" jdbcType="INTEGER" />
    <result column="ltmPriority" property="ltmPriority" jdbcType="VARCHAR" />
    <result column="aisSendEnabel" property="aisSendEnabel" jdbcType="INTEGER" />
    <result column="clientMdLevel" property="clientMdLevel" jdbcType="VARCHAR" />
    <result column="aisPriority" property="aisPriority" jdbcType="VARCHAR" />
    <result column="lckSendEnabel" property="lckSendEnabel" jdbcType="INTEGER" />
    <result column="lckPriority" property="lckPriority" jdbcType="VARCHAR" />
    <result column="aisLckSendCycle" property="aisLckSendCycle" jdbcType="INTEGER" />
    <result column="tstSendEnabel" property="tstSendEnabel" jdbcType="INTEGER" />
    <result column="tstSendLevel" property="tstSendLevel" jdbcType="VARCHAR" />
    <result column="tstPurposeMepMac" property="tstPurposeMepMac" jdbcType="VARCHAR" />
    <result column="tstPriority" property="tstPriority" jdbcType="VARCHAR" />
    <result column="sendWay" property="sendWay" jdbcType="INTEGER" />
    <result column="tstDiscard" property="tstDiscard" jdbcType="INTEGER" />
    <result column="tstTlvType" property="tstTlvType" jdbcType="INTEGER" />
    <result column="tstTlvLength" property="tstTlvLength" jdbcType="VARCHAR" />
    <result column="tstSendCycle" property="tstSendCycle" jdbcType="INTEGER" />
    <result column="lmENable" property="lmENable" jdbcType="INTEGER" />
    <result column="lmPriority" property="lmPriority" jdbcType="VARCHAR" />
    <result column="lmSendCycle" property="lmSendCycle" jdbcType="INTEGER" />
    <result column="dmENable" property="dmENable" jdbcType="INTEGER" />
    <result column="dmPriority" property="dmPriority" jdbcType="VARCHAR" />
    <result column="dmSendCycle" property="dmSendCycle" jdbcType="INTEGER" />
    <result column="remoteMepId1" property="remoteMepId1" jdbcType="VARCHAR" />
    <result column="macAddress1" property="macAddress1" jdbcType="VARCHAR" />
    <result column="remoteMepId2" property="remoteMepId2" jdbcType="VARCHAR" />
    <result column="macAddress2" property="macAddress2" jdbcType="VARCHAR" />
    <result column="remoteMepId3" property="remoteMepId3" jdbcType="VARCHAR" />
    <result column="macAddress3" property="macAddress3" jdbcType="VARCHAR" />
    <result column="remoteMepId4" property="remoteMepId4" jdbcType="VARCHAR" />
    <result column="macAddress4" property="macAddress4" jdbcType="VARCHAR" />
    <result column="mipCreate" property="mipCreate" jdbcType="INTEGER" />
    <result column="mipPort" property="mipPort" jdbcType="VARCHAR" />
    <result column="slot" property="slot" jdbcType="INTEGER" />
    <result column="mipSlot" property="mipSlot" jdbcType="INTEGER" />
    <result column="itemNumber" property="itemNumber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, siteId, thernetOAMEnabl, mdMLevel, mpLable, mdName, mdLevel, maName, ccmsend, 
    vlan, mepId, mepType, port, ccmSendEnable, ccmReceiveEnable, ccmPriority, lbmTlvType, 
    lbmTlvTypeLength, lbmPriority, lbmDiscard, ltmPriority, aisSendEnabel, clientMdLevel, 
    aisPriority, lckSendEnabel, lckPriority, aisLckSendCycle, tstSendEnabel, tstSendLevel, 
    tstPurposeMepMac, tstPriority, sendWay, tstDiscard, tstTlvType, tstTlvLength, tstSendCycle, 
    lmENable, lmPriority, lmSendCycle, dmENable, dmPriority, dmSendCycle, remoteMepId1, 
    macAddress1, remoteMepId2, macAddress2, remoteMepId3, macAddress3, remoteMepId4, 
    macAddress4, mipCreate, mipPort, slot, mipSlot, itemNumber, PortName, mipPortName
  </sql>
  <insert id="insert" parameterType="OamEthernetInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into ethernetoam (siteId, thernetOAMEnabl, 
      mdMLevel, mpLable, mdName, 
      mdLevel, maName, ccmsend, 
      vlan, mepId, mepType, 
      port, ccmSendEnable, ccmReceiveEnable, 
      ccmPriority, lbmTlvType, lbmTlvTypeLength, 
      lbmPriority, lbmDiscard, ltmPriority, 
      aisSendEnabel, clientMdLevel, aisPriority, 
      lckSendEnabel, lckPriority, aisLckSendCycle, 
      tstSendEnabel, tstSendLevel, tstPurposeMepMac, 
      tstPriority, sendWay, tstDiscard, 
      tstTlvType, tstTlvLength, tstSendCycle, 
      lmENable, lmPriority, lmSendCycle, 
      dmENable, dmPriority, dmSendCycle, 
      remoteMepId1, macAddress1, remoteMepId2, 
      macAddress2, remoteMepId3, macAddress3, 
      remoteMepId4, macAddress4, mipCreate, 
      mipPort, slot, mipSlot, itemNumber
      )
    values (#{siteId,jdbcType=INTEGER}, #{thernetOAMEnabl,jdbcType=INTEGER}, 
      #{mdMLevel,jdbcType=VARCHAR}, #{mpLable,jdbcType=INTEGER}, #{mdName,jdbcType=VARCHAR}, 
      #{mdLevel,jdbcType=VARCHAR}, #{maName,jdbcType=VARCHAR}, #{ccmsend,jdbcType=INTEGER}, 
      #{vlan,jdbcType=VARCHAR}, #{mepId,jdbcType=VARCHAR}, #{mepType,jdbcType=INTEGER}, 
      #{port,jdbcType=VARCHAR}, #{ccmSendEnable,jdbcType=INTEGER}, #{ccmReceiveEnable,jdbcType=INTEGER}, 
      #{ccmPriority,jdbcType=VARCHAR}, #{lbmTlvType,jdbcType=INTEGER}, #{lbmTlvTypeLength,jdbcType=VARCHAR}, 
      #{lbmPriority,jdbcType=VARCHAR}, #{lbmDiscard,jdbcType=INTEGER}, #{ltmPriority,jdbcType=VARCHAR}, 
      #{aisSendEnabel,jdbcType=INTEGER}, #{clientMdLevel,jdbcType=VARCHAR}, #{aisPriority,jdbcType=VARCHAR}, 
      #{lckSendEnabel,jdbcType=INTEGER}, #{lckPriority,jdbcType=VARCHAR}, #{aisLckSendCycle,jdbcType=INTEGER}, 
      #{tstSendEnabel,jdbcType=INTEGER}, #{tstSendLevel,jdbcType=VARCHAR}, #{tstPurposeMepMac,jdbcType=VARCHAR}, 
      #{tstPriority,jdbcType=VARCHAR}, #{sendWay,jdbcType=INTEGER}, #{tstDiscard,jdbcType=INTEGER}, 
      #{tstTlvType,jdbcType=INTEGER}, #{tstTlvLength,jdbcType=VARCHAR}, #{tstSendCycle,jdbcType=INTEGER}, 
      #{lmENable,jdbcType=INTEGER}, #{lmPriority,jdbcType=VARCHAR}, #{lmSendCycle,jdbcType=INTEGER}, 
      #{dmENable,jdbcType=INTEGER}, #{dmPriority,jdbcType=VARCHAR}, #{dmSendCycle,jdbcType=INTEGER}, 
      #{remoteMepId1,jdbcType=VARCHAR}, #{macAddress1,jdbcType=VARCHAR}, #{remoteMepId2,jdbcType=VARCHAR}, 
      #{macAddress2,jdbcType=VARCHAR}, #{remoteMepId3,jdbcType=VARCHAR}, #{macAddress3,jdbcType=VARCHAR}, 
      #{remoteMepId4,jdbcType=VARCHAR}, #{macAddress4,jdbcType=VARCHAR}, #{mipCreate,jdbcType=INTEGER}, 
      #{mipPort,jdbcType=VARCHAR}, #{slot,jdbcType=INTEGER}, #{mipSlot,jdbcType=INTEGER}, 
      #{itemNumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="OamEthernetInfo" >
    insert into ethernetoam
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="siteid != null" >
        siteId,
      </if>
      <if test="thernetoamenabl != null" >
        thernetOAMEnabl,
      </if>
      <if test="mdmlevel != null" >
        mdMLevel,
      </if>
      <if test="mplable != null" >
        mpLable,
      </if>
      <if test="mdname != null" >
        mdName,
      </if>
      <if test="mdlevel != null" >
        mdLevel,
      </if>
      <if test="maname != null" >
        maName,
      </if>
      <if test="ccmsend != null" >
        ccmsend,
      </if>
      <if test="vlan != null" >
        vlan,
      </if>
      <if test="mepid != null" >
        mepId,
      </if>
      <if test="meptype != null" >
        mepType,
      </if>
      <if test="port != null" >
        port,
      </if>
      <if test="ccmsendenable != null" >
        ccmSendEnable,
      </if>
      <if test="ccmreceiveenable != null" >
        ccmReceiveEnable,
      </if>
      <if test="ccmpriority != null" >
        ccmPriority,
      </if>
      <if test="lbmtlvtype != null" >
        lbmTlvType,
      </if>
      <if test="lbmtlvtypelength != null" >
        lbmTlvTypeLength,
      </if>
      <if test="lbmpriority != null" >
        lbmPriority,
      </if>
      <if test="lbmdiscard != null" >
        lbmDiscard,
      </if>
      <if test="ltmpriority != null" >
        ltmPriority,
      </if>
      <if test="aissendenabel != null" >
        aisSendEnabel,
      </if>
      <if test="clientmdlevel != null" >
        clientMdLevel,
      </if>
      <if test="aispriority != null" >
        aisPriority,
      </if>
      <if test="lcksendenabel != null" >
        lckSendEnabel,
      </if>
      <if test="lckpriority != null" >
        lckPriority,
      </if>
      <if test="aislcksendcycle != null" >
        aisLckSendCycle,
      </if>
      <if test="tstsendenabel != null" >
        tstSendEnabel,
      </if>
      <if test="tstsendlevel != null" >
        tstSendLevel,
      </if>
      <if test="tstpurposemepmac != null" >
        tstPurposeMepMac,
      </if>
      <if test="tstpriority != null" >
        tstPriority,
      </if>
      <if test="sendway != null" >
        sendWay,
      </if>
      <if test="tstdiscard != null" >
        tstDiscard,
      </if>
      <if test="tsttlvtype != null" >
        tstTlvType,
      </if>
      <if test="tsttlvlength != null" >
        tstTlvLength,
      </if>
      <if test="tstsendcycle != null" >
        tstSendCycle,
      </if>
      <if test="lmenable != null" >
        lmENable,
      </if>
      <if test="lmpriority != null" >
        lmPriority,
      </if>
      <if test="lmsendcycle != null" >
        lmSendCycle,
      </if>
      <if test="dmenable != null" >
        dmENable,
      </if>
      <if test="dmpriority != null" >
        dmPriority,
      </if>
      <if test="dmsendcycle != null" >
        dmSendCycle,
      </if>
      <if test="remotemepid1 != null" >
        remoteMepId1,
      </if>
      <if test="macaddress1 != null" >
        macAddress1,
      </if>
      <if test="remotemepid2 != null" >
        remoteMepId2,
      </if>
      <if test="macaddress2 != null" >
        macAddress2,
      </if>
      <if test="remotemepid3 != null" >
        remoteMepId3,
      </if>
      <if test="macaddress3 != null" >
        macAddress3,
      </if>
      <if test="remotemepid4 != null" >
        remoteMepId4,
      </if>
      <if test="macaddress4 != null" >
        macAddress4,
      </if>
      <if test="mipcreate != null" >
        mipCreate,
      </if>
      <if test="mipport != null" >
        mipPort,
      </if>
      <if test="slot != null" >
        slot,
      </if>
      <if test="mipslot != null" >
        mipSlot,
      </if>
      <if test="itemnumber != null" >
        itemNumber,
      </if>
      <if test="portname != null" >
        PortName,
      </if>
      <if test="mipportname != null" >
        mipPortName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteid != null" >
        #{siteid,jdbcType=INTEGER},
      </if>
      <if test="thernetoamenabl != null" >
        #{thernetoamenabl,jdbcType=INTEGER},
      </if>
      <if test="mdmlevel != null" >
        #{mdmlevel,jdbcType=VARCHAR},
      </if>
      <if test="mplable != null" >
        #{mplable,jdbcType=INTEGER},
      </if>
      <if test="mdname != null" >
        #{mdname,jdbcType=VARCHAR},
      </if>
      <if test="mdlevel != null" >
        #{mdlevel,jdbcType=VARCHAR},
      </if>
      <if test="maname != null" >
        #{maname,jdbcType=VARCHAR},
      </if>
      <if test="ccmsend != null" >
        #{ccmsend,jdbcType=INTEGER},
      </if>
      <if test="vlan != null" >
        #{vlan,jdbcType=VARCHAR},
      </if>
      <if test="mepid != null" >
        #{mepid,jdbcType=VARCHAR},
      </if>
      <if test="meptype != null" >
        #{meptype,jdbcType=INTEGER},
      </if>
      <if test="port != null" >
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="ccmsendenable != null" >
        #{ccmsendenable,jdbcType=INTEGER},
      </if>
      <if test="ccmreceiveenable != null" >
        #{ccmreceiveenable,jdbcType=INTEGER},
      </if>
      <if test="ccmpriority != null" >
        #{ccmpriority,jdbcType=VARCHAR},
      </if>
      <if test="lbmtlvtype != null" >
        #{lbmtlvtype,jdbcType=INTEGER},
      </if>
      <if test="lbmtlvtypelength != null" >
        #{lbmtlvtypelength,jdbcType=VARCHAR},
      </if>
      <if test="lbmpriority != null" >
        #{lbmpriority,jdbcType=VARCHAR},
      </if>
      <if test="lbmdiscard != null" >
        #{lbmdiscard,jdbcType=INTEGER},
      </if>
      <if test="ltmpriority != null" >
        #{ltmpriority,jdbcType=VARCHAR},
      </if>
      <if test="aissendenabel != null" >
        #{aissendenabel,jdbcType=INTEGER},
      </if>
      <if test="clientmdlevel != null" >
        #{clientmdlevel,jdbcType=VARCHAR},
      </if>
      <if test="aispriority != null" >
        #{aispriority,jdbcType=VARCHAR},
      </if>
      <if test="lcksendenabel != null" >
        #{lcksendenabel,jdbcType=INTEGER},
      </if>
      <if test="lckpriority != null" >
        #{lckpriority,jdbcType=VARCHAR},
      </if>
      <if test="aislcksendcycle != null" >
        #{aislcksendcycle,jdbcType=INTEGER},
      </if>
      <if test="tstsendenabel != null" >
        #{tstsendenabel,jdbcType=INTEGER},
      </if>
      <if test="tstsendlevel != null" >
        #{tstsendlevel,jdbcType=VARCHAR},
      </if>
      <if test="tstpurposemepmac != null" >
        #{tstpurposemepmac,jdbcType=VARCHAR},
      </if>
      <if test="tstpriority != null" >
        #{tstpriority,jdbcType=VARCHAR},
      </if>
      <if test="sendway != null" >
        #{sendway,jdbcType=INTEGER},
      </if>
      <if test="tstdiscard != null" >
        #{tstdiscard,jdbcType=INTEGER},
      </if>
      <if test="tsttlvtype != null" >
        #{tsttlvtype,jdbcType=INTEGER},
      </if>
      <if test="tsttlvlength != null" >
        #{tsttlvlength,jdbcType=VARCHAR},
      </if>
      <if test="tstsendcycle != null" >
        #{tstsendcycle,jdbcType=INTEGER},
      </if>
      <if test="lmenable != null" >
        #{lmenable,jdbcType=INTEGER},
      </if>
      <if test="lmpriority != null" >
        #{lmpriority,jdbcType=VARCHAR},
      </if>
      <if test="lmsendcycle != null" >
        #{lmsendcycle,jdbcType=INTEGER},
      </if>
      <if test="dmenable != null" >
        #{dmenable,jdbcType=INTEGER},
      </if>
      <if test="dmpriority != null" >
        #{dmpriority,jdbcType=VARCHAR},
      </if>
      <if test="dmsendcycle != null" >
        #{dmsendcycle,jdbcType=INTEGER},
      </if>
      <if test="remotemepid1 != null" >
        #{remotemepid1,jdbcType=VARCHAR},
      </if>
      <if test="macaddress1 != null" >
        #{macaddress1,jdbcType=VARCHAR},
      </if>
      <if test="remotemepid2 != null" >
        #{remotemepid2,jdbcType=VARCHAR},
      </if>
      <if test="macaddress2 != null" >
        #{macaddress2,jdbcType=VARCHAR},
      </if>
      <if test="remotemepid3 != null" >
        #{remotemepid3,jdbcType=VARCHAR},
      </if>
      <if test="macaddress3 != null" >
        #{macaddress3,jdbcType=VARCHAR},
      </if>
      <if test="remotemepid4 != null" >
        #{remotemepid4,jdbcType=VARCHAR},
      </if>
      <if test="macaddress4 != null" >
        #{macaddress4,jdbcType=VARCHAR},
      </if>
      <if test="mipcreate != null" >
        #{mipcreate,jdbcType=INTEGER},
      </if>
      <if test="mipport != null" >
        #{mipport,jdbcType=VARCHAR},
      </if>
      <if test="slot != null" >
        #{slot,jdbcType=INTEGER},
      </if>
      <if test="mipslot != null" >
        #{mipslot,jdbcType=INTEGER},
      </if>
      <if test="itemnumber != null" >
        #{itemnumber,jdbcType=INTEGER},
      </if>
      <if test="portname != null" >
        #{portname,jdbcType=VARCHAR},
      </if>
      <if test="mipportname != null" >
        #{mipportname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="OamEthernetInfo" >
    update ethernetoam
    <set >
      <if test="siteid != null" >
        siteId = #{siteid,jdbcType=INTEGER},
      </if>
      <if test="thernetoamenabl != null" >
        thernetOAMEnabl = #{thernetoamenabl,jdbcType=INTEGER},
      </if>
      <if test="mdmlevel != null" >
        mdMLevel = #{mdmlevel,jdbcType=VARCHAR},
      </if>
      <if test="mplable != null" >
        mpLable = #{mplable,jdbcType=INTEGER},
      </if>
      <if test="mdname != null" >
        mdName = #{mdname,jdbcType=VARCHAR},
      </if>
      <if test="mdlevel != null" >
        mdLevel = #{mdlevel,jdbcType=VARCHAR},
      </if>
      <if test="maname != null" >
        maName = #{maname,jdbcType=VARCHAR},
      </if>
      <if test="ccmsend != null" >
        ccmsend = #{ccmsend,jdbcType=INTEGER},
      </if>
      <if test="vlan != null" >
        vlan = #{vlan,jdbcType=VARCHAR},
      </if>
      <if test="mepid != null" >
        mepId = #{mepid,jdbcType=VARCHAR},
      </if>
      <if test="meptype != null" >
        mepType = #{meptype,jdbcType=INTEGER},
      </if>
      <if test="port != null" >
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="ccmsendenable != null" >
        ccmSendEnable = #{ccmsendenable,jdbcType=INTEGER},
      </if>
      <if test="ccmreceiveenable != null" >
        ccmReceiveEnable = #{ccmreceiveenable,jdbcType=INTEGER},
      </if>
      <if test="ccmpriority != null" >
        ccmPriority = #{ccmpriority,jdbcType=VARCHAR},
      </if>
      <if test="lbmtlvtype != null" >
        lbmTlvType = #{lbmtlvtype,jdbcType=INTEGER},
      </if>
      <if test="lbmtlvtypelength != null" >
        lbmTlvTypeLength = #{lbmtlvtypelength,jdbcType=VARCHAR},
      </if>
      <if test="lbmpriority != null" >
        lbmPriority = #{lbmpriority,jdbcType=VARCHAR},
      </if>
      <if test="lbmdiscard != null" >
        lbmDiscard = #{lbmdiscard,jdbcType=INTEGER},
      </if>
      <if test="ltmpriority != null" >
        ltmPriority = #{ltmpriority,jdbcType=VARCHAR},
      </if>
      <if test="aissendenabel != null" >
        aisSendEnabel = #{aissendenabel,jdbcType=INTEGER},
      </if>
      <if test="clientmdlevel != null" >
        clientMdLevel = #{clientmdlevel,jdbcType=VARCHAR},
      </if>
      <if test="aispriority != null" >
        aisPriority = #{aispriority,jdbcType=VARCHAR},
      </if>
      <if test="lcksendenabel != null" >
        lckSendEnabel = #{lcksendenabel,jdbcType=INTEGER},
      </if>
      <if test="lckpriority != null" >
        lckPriority = #{lckpriority,jdbcType=VARCHAR},
      </if>
      <if test="aislcksendcycle != null" >
        aisLckSendCycle = #{aislcksendcycle,jdbcType=INTEGER},
      </if>
      <if test="tstsendenabel != null" >
        tstSendEnabel = #{tstsendenabel,jdbcType=INTEGER},
      </if>
      <if test="tstsendlevel != null" >
        tstSendLevel = #{tstsendlevel,jdbcType=VARCHAR},
      </if>
      <if test="tstpurposemepmac != null" >
        tstPurposeMepMac = #{tstpurposemepmac,jdbcType=VARCHAR},
      </if>
      <if test="tstpriority != null" >
        tstPriority = #{tstpriority,jdbcType=VARCHAR},
      </if>
      <if test="sendway != null" >
        sendWay = #{sendway,jdbcType=INTEGER},
      </if>
      <if test="tstdiscard != null" >
        tstDiscard = #{tstdiscard,jdbcType=INTEGER},
      </if>
      <if test="tsttlvtype != null" >
        tstTlvType = #{tsttlvtype,jdbcType=INTEGER},
      </if>
      <if test="tsttlvlength != null" >
        tstTlvLength = #{tsttlvlength,jdbcType=VARCHAR},
      </if>
      <if test="tstsendcycle != null" >
        tstSendCycle = #{tstsendcycle,jdbcType=INTEGER},
      </if>
      <if test="lmenable != null" >
        lmENable = #{lmenable,jdbcType=INTEGER},
      </if>
      <if test="lmpriority != null" >
        lmPriority = #{lmpriority,jdbcType=VARCHAR},
      </if>
      <if test="lmsendcycle != null" >
        lmSendCycle = #{lmsendcycle,jdbcType=INTEGER},
      </if>
      <if test="dmenable != null" >
        dmENable = #{dmenable,jdbcType=INTEGER},
      </if>
      <if test="dmpriority != null" >
        dmPriority = #{dmpriority,jdbcType=VARCHAR},
      </if>
      <if test="dmsendcycle != null" >
        dmSendCycle = #{dmsendcycle,jdbcType=INTEGER},
      </if>
      <if test="remotemepid1 != null" >
        remoteMepId1 = #{remotemepid1,jdbcType=VARCHAR},
      </if>
      <if test="macaddress1 != null" >
        macAddress1 = #{macaddress1,jdbcType=VARCHAR},
      </if>
      <if test="remotemepid2 != null" >
        remoteMepId2 = #{remotemepid2,jdbcType=VARCHAR},
      </if>
      <if test="macaddress2 != null" >
        macAddress2 = #{macaddress2,jdbcType=VARCHAR},
      </if>
      <if test="remotemepid3 != null" >
        remoteMepId3 = #{remotemepid3,jdbcType=VARCHAR},
      </if>
      <if test="macaddress3 != null" >
        macAddress3 = #{macaddress3,jdbcType=VARCHAR},
      </if>
      <if test="remotemepid4 != null" >
        remoteMepId4 = #{remotemepid4,jdbcType=VARCHAR},
      </if>
      <if test="macaddress4 != null" >
        macAddress4 = #{macaddress4,jdbcType=VARCHAR},
      </if>
      <if test="mipcreate != null" >
        mipCreate = #{mipcreate,jdbcType=INTEGER},
      </if>
      <if test="mipport != null" >
        mipPort = #{mipport,jdbcType=VARCHAR},
      </if>
      <if test="slot != null" >
        slot = #{slot,jdbcType=INTEGER},
      </if>
      <if test="mipslot != null" >
        mipSlot = #{mipslot,jdbcType=INTEGER},
      </if>
      <if test="itemnumber != null" >
        itemNumber = #{itemnumber,jdbcType=INTEGER},
      </if>
      <if test="portname != null" >
        PortName = #{portname,jdbcType=VARCHAR},
      </if>
      <if test="mipportname != null" >
        mipPortName = #{mipportname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="OamEthernetInfo" >
    update ethernetoam
    set siteId = #{siteid,jdbcType=INTEGER},
      thernetOAMEnabl = #{thernetoamenabl,jdbcType=INTEGER},
      mdMLevel = #{mdmlevel,jdbcType=VARCHAR},
      mpLable = #{mplable,jdbcType=INTEGER},
      mdName = #{mdname,jdbcType=VARCHAR},
      mdLevel = #{mdlevel,jdbcType=VARCHAR},
      maName = #{maname,jdbcType=VARCHAR},
      ccmsend = #{ccmsend,jdbcType=INTEGER},
      vlan = #{vlan,jdbcType=VARCHAR},
      mepId = #{mepid,jdbcType=VARCHAR},
      mepType = #{meptype,jdbcType=INTEGER},
      port = #{port,jdbcType=VARCHAR},
      ccmSendEnable = #{ccmsendenable,jdbcType=INTEGER},
      ccmReceiveEnable = #{ccmreceiveenable,jdbcType=INTEGER},
      ccmPriority = #{ccmpriority,jdbcType=VARCHAR},
      lbmTlvType = #{lbmtlvtype,jdbcType=INTEGER},
      lbmTlvTypeLength = #{lbmtlvtypelength,jdbcType=VARCHAR},
      lbmPriority = #{lbmpriority,jdbcType=VARCHAR},
      lbmDiscard = #{lbmdiscard,jdbcType=INTEGER},
      ltmPriority = #{ltmpriority,jdbcType=VARCHAR},
      aisSendEnabel = #{aissendenabel,jdbcType=INTEGER},
      clientMdLevel = #{clientmdlevel,jdbcType=VARCHAR},
      aisPriority = #{aispriority,jdbcType=VARCHAR},
      lckSendEnabel = #{lcksendenabel,jdbcType=INTEGER},
      lckPriority = #{lckpriority,jdbcType=VARCHAR},
      aisLckSendCycle = #{aislcksendcycle,jdbcType=INTEGER},
      tstSendEnabel = #{tstsendenabel,jdbcType=INTEGER},
      tstSendLevel = #{tstsendlevel,jdbcType=VARCHAR},
      tstPurposeMepMac = #{tstpurposemepmac,jdbcType=VARCHAR},
      tstPriority = #{tstpriority,jdbcType=VARCHAR},
      sendWay = #{sendway,jdbcType=INTEGER},
      tstDiscard = #{tstdiscard,jdbcType=INTEGER},
      tstTlvType = #{tsttlvtype,jdbcType=INTEGER},
      tstTlvLength = #{tsttlvlength,jdbcType=VARCHAR},
      tstSendCycle = #{tstsendcycle,jdbcType=INTEGER},
      lmENable = #{lmenable,jdbcType=INTEGER},
      lmPriority = #{lmpriority,jdbcType=VARCHAR},
      lmSendCycle = #{lmsendcycle,jdbcType=INTEGER},
      dmENable = #{dmenable,jdbcType=INTEGER},
      dmPriority = #{dmpriority,jdbcType=VARCHAR},
      dmSendCycle = #{dmsendcycle,jdbcType=INTEGER},
      remoteMepId1 = #{remotemepid1,jdbcType=VARCHAR},
      macAddress1 = #{macaddress1,jdbcType=VARCHAR},
      remoteMepId2 = #{remotemepid2,jdbcType=VARCHAR},
      macAddress2 = #{macaddress2,jdbcType=VARCHAR},
      remoteMepId3 = #{remotemepid3,jdbcType=VARCHAR},
      macAddress3 = #{macaddress3,jdbcType=VARCHAR},
      remoteMepId4 = #{remotemepid4,jdbcType=VARCHAR},
      macAddress4 = #{macaddress4,jdbcType=VARCHAR},
      mipCreate = #{mipcreate,jdbcType=INTEGER},
      mipPort = #{mipport,jdbcType=VARCHAR},
      slot = #{slot,jdbcType=INTEGER},
      mipSlot = #{mipslot,jdbcType=INTEGER},
      itemNumber = #{itemnumber,jdbcType=INTEGER},
      PortName = #{portname,jdbcType=VARCHAR},
      mipPortName = #{mipportname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryOamLinkInfoByConditionSide" resultMap="BaseResultMap" parameterType="OamEthernetInfo">
  select * from  ethernetoam where 1=1
  <if test="siteId != 0">
  and siteId = #{siteId}
  </if>
  <if test="id != 0">
  and id = #{id}
  </if>
  </select>
  
  <delete id="deleteBySiteId" parameterType="java.lang.Integer" >
    delete from ethernetOam where  siteId=#{siteId}
  </delete>
  
  <select id="queryOamLinkInfoByCondition" resultMap="BaseResultMap" parameterType="OamEthernetInfo">
  select * from  ethernetoam where siteId = #{siteId} and id = #{id} and mdMLevel = #{mdMLevel} and mdName = #{mdName} 
   and mdLevel = #{mdLevel} and vlan = #{vlan} and mepId = #{mepId} and port = #{port} and maName = #{maName} and ccmPriority = #{ccmPriority} 
   and lbmTlvTypeLength = #{lbmTlvTypeLength} and lbmPriority = #{lbmPriority} and ltmPriority = #{ltmPriority} and clientMdLevel = #{clientMdLevel} 
   and aisPriority = #{aisPriority} and lckPriority = #{lckPriority} and tstSendLevel = #{tstSendLevel} and tstPurposeMepMac = #{tstPurposeMepMac}  
   and tstPriority = #{tstPriority} and tstTlvLength = #{tstTlvLength} and lmPriority = #{lmPriority} and dmPriority = #{dmPriority} 
   and remoteMepId1 = #{remoteMepId1} and macAddress1 = #{macAddress1} and remoteMepId2 = #{remoteMepId2} and macAddress2= #{macAddress2}  
   and remoteMepId3 = #{remoteMepId3} and macAddress3= #{macAddress3} and remoteMepId4 = #{remoteMepId4} and macAddress4= #{macAddress4}  
   and mipPort= #{mipPort} and thernetOAMEnabl = #{thernetOAMEnabl} and mpLable = #{mpLable} and ccmsend = #{ccmsend} and mepType = #{mepType}  
   and ccmSendEnable = #{ccmSendEnable} and ccmReceiveEnable = #{ccmReceiveEnable} and lbmTlvType = #{lbmTlvType} and lbmDiscard = #{lbmDiscard}  
   and aisSendEnabel = #{aisSendEnabel} and lckSendEnabel = #{lckSendEnabel} and aisLckSendCycle = #{aisLckSendCycle} and tstSendEnabel = #{tstSendEnabel}  
   and sendWay = #{sendWay} and tstDiscard = #{tstDiscard} and tstTlvType = #{tstTlvType} and tstSendCycle = #{tstSendCycle} and lmENable = #{lmENable}  
   and lmSendCycle = #{lmSendCycle} and dmENable = #{dmENable} and dmSendCycle = #{dmSendCycle} and mipCreate = #{mipCreate}  
   and slot = #{slot} and mipSlot = #{mipSlot} and itemNumber = #{itemNumber}
  </select>
  
  <delete id="delete" parameterType="OamEthernetInfo">
  delete from ethernetOam where id= #{id} and siteId= #{siteId} 
  </delete>
  
  <select id="count" resultType="java.util.List" parameterType="OamEthernetInfo">
  select itemNumber from ethernetOam where siteId = #{siteId} 
  </select>
  
  <update id="update" parameterType="OamEthernetInfo">
  update ethernetOam set mdMLevel = #{mdMLevel} , mdName = #{mdName} 
   , mdLevel = #{mdLevel} , vlan = #{vlan} , mepId = #{mepId} , port = #{port} , maName = #{maName} , ccmPriority = #{ccmPriority} 
   , lbmTlvTypeLength = #{lbmTlvTypeLength} , lbmPriority = #{lbmPriority} , ltmPriority = #{ltmPriority} , clientMdLevel = #{clientMdLevel} 
   , aisPriority = #{aisPriority} , lckPriority = #{lckPriority} , tstSendLevel = #{tstSendLevel} , tstPurposeMepMac = #{tstPurposeMepMac}  
   , tstPriority = #{tstPriority} , tstTlvLength = #{tstTlvLength} , lmPriority = #{lmPriority} , dmPriority = #{dmPriority} 
   , remoteMepId1 = #{remoteMepId1} , macAddress1 = #{macAddress1} , remoteMepId2 = #{remoteMepId2} , macAddress2= #{macAddress2}  
   , remoteMepId3 = #{remoteMepId3} , macAddress3= #{macAddress3} , remoteMepId4 = #{remoteMepId4} , macAddress4= #{macAddress4}  
   , mipPort= #{mipPort} , thernetOAMEnabl = #{thernetOAMEnabl} , mpLable = #{mpLable} , ccmsend = #{ccmsend} , mepType = #{mepType}  
   , ccmSendEnable = #{ccmSendEnable} , ccmReceiveEnable = #{ccmReceiveEnable} , lbmTlvType = #{lbmTlvType} , lbmDiscard = #{lbmDiscard}  
   , aisSendEnabel = #{aisSendEnabel} , lckSendEnabel = #{lckSendEnabel} , aisLckSendCycle = #{aisLckSendCycle} , tstSendEnabel = #{tstSendEnabel}  
   , sendWay = #{sendWay} , tstDiscard = #{tstDiscard} , tstTlvType = #{tstTlvType} , tstSendCycle = #{tstSendCycle} , lmENable = #{lmENable}  
   , lmSendCycle = #{lmSendCycle} , dmENable = #{dmENable} , dmSendCycle = #{dmSendCycle} , mipCreate = #{mipCreate}  
   , slot = #{slot} , mipSlot = #{mipSlot} , itemNumber = #{itemNumber} where 1=1 
   <if test="siteId > 0">
   and siteId = #{siteId}
   </if>
   <if test="id > 0">
   and id = #{id}
   </if>
  </update>
</mapper>