<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.ARPMapper" >
  <select id="queryBySiteId" resultType="ARPInfo" parameterType="java.lang.Integer" >
   select * from arpinfo where siteId=#{0}		  
  </select>
 
  <insert id="insert" parameterType="ARPInfo" useGeneratedKeys="true" keyProperty="id">
  insert into arpinfo (pwProtectId,name,sourceMac,vlanEnabled,vlanId,vlanPri,sourceIp,targetIp,enabled,siteId) 
  values(#{pwProtectId},#{name},#{sourceMac},#{vlanEnabled},#{vlanId},#{vlanPri},#{sourceIp},#{targetIp},#{enabled},#{siteId})
  </insert>
 
  <delete id="delete" parameterType="java.lang.Integer">
  delete from arpinfo where id=#{0}
  </delete> 
  
  <update id="update" parameterType="ARPInfo">
  update arpinfo set pwProtectId=#{pwProtectId}, name=#{name}, sourceMac=#{sourceMac}, vlanEnabled=#{vlanEnabled}, vlanId=#{vlanId}, 
  vlanPri=#{vlanPri}, sourceIp=#{sourceIp}, targetIp=#{targetIp}, enabled = #{enabled}, siteId=#{siteId} where id=#{id}
  </update>
  
  <select id="queryById" resultType="ARPInfo" parameterType="java.lang.Integer" >
   select * from arpinfo where id=#{0}		  
  </select>
  
  <delete id="deleteBySiteId" parameterType="java.lang.Integer">
  delete from arpinfo where siteId=#{0}
  </delete> 
  
  <select id="select_synchro" resultType="ARPInfo">
   select * from arpinfo where siteId=#{0} and pwProtectId=#{1}
  </select>
</mapper>