<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.MacStudyAddressMapper" >
  <resultMap id="BaseResultMap" type="SsMacStudy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="siteId" property="siteId" jdbcType="INTEGER" />
    <result column="portId" property="portId" jdbcType="INTEGER" />
    <result column="vlan" property="vlan" jdbcType="INTEGER" />
    <result column="macnum" property="macCount" jdbcType="INTEGER" />
    <result column="macaddress" property="macAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, num, siteId, portId, vlan, macnum, macaddress
  </sql>
 
  <delete id="delete" parameterType="SsMacStudy" >
   delete from macstudyaddress where id=#{id} and siteId=#{siteId}
  </delete>
  
  <insert id="insert" parameterType="SsMacStudy"  useGeneratedKeys="true" keyProperty="id">
    insert into macstudyaddress (num, siteId, 
      portId, vlan, macnum, 
      macaddress)
    values ( #{num,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, 
      #{portId,jdbcType=INTEGER}, #{vlan,jdbcType=INTEGER}, #{macCount,jdbcType=INTEGER}, 
      #{macAddress,jdbcType=VARCHAR})
      
  </insert>

  <update id="update" parameterType="SsMacStudy" >
   update macstudyaddress 
   set portId=#{portId},vlan=#{vlan},macnum=#{macCount},macaddress=#{macAddress}
   where num=#{num} and id=#{id}
  </update>
  
 <select id="selectBySecondMacStudyInfo" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from macstudyaddress where siteId=#{siteId}
 </select>

 <select id="queryMacInfoByCondition" resultMap="BaseResultMap" parameterType="SsMacStudy" >
    select 
    <include refid="Base_Column_List" />
    from macstudyaddress where siteId=#{siteId} and id=#{id}
 </select>
 
  <delete id="deleteBySiteId" parameterType="java.lang.Integer" >
   delete from macstudyaddress where siteId=#{siteId}
  </delete>
 
</mapper>