<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.ecn.CCNMapper" >
  <resultMap id="BaseResultMap" type="CCN" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="neId" property="neid" jdbcType="VARCHAR" />
    <result column="ccnName" property="ccnname" jdbcType="VARCHAR" />
    <result column="admin" property="admin" jdbcType="VARCHAR" />
    <result column="oper" property="oper" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="peer" property="peer" jdbcType="VARCHAR" />
    <result column="mtu" property="mtu" jdbcType="VARCHAR" />
    <result column="portname" property="portname" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, neId, ccnName, admin, oper, ip, peer, mtu, portname, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ecn_ccn
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ecn_ccn
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="CCN" >
    insert into ecn_ccn (id, neId, ccnName, 
      admin, oper, ip, peer, 
      mtu, portname, status
      )
    values (#{id,jdbcType=INTEGER}, #{neid,jdbcType=VARCHAR}, #{ccnname,jdbcType=VARCHAR}, 
      #{admin,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{peer,jdbcType=VARCHAR}, 
      #{mtu,jdbcType=VARCHAR}, #{portname,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="CCN" >
    insert into ecn_ccn
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="neid != null" >
        neId,
      </if>
      <if test="ccnname != null" >
        ccnName,
      </if>
      <if test="admin != null" >
        admin,
      </if>
      <if test="oper != null" >
        oper,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="peer != null" >
        peer,
      </if>
      <if test="mtu != null" >
        mtu,
      </if>
      <if test="portname != null" >
        portname,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="neid != null" >
        #{neid,jdbcType=VARCHAR},
      </if>
      <if test="ccnname != null" >
        #{ccnname,jdbcType=VARCHAR},
      </if>
      <if test="admin != null" >
        #{admin,jdbcType=VARCHAR},
      </if>
      <if test="oper != null" >
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="peer != null" >
        #{peer,jdbcType=VARCHAR},
      </if>
      <if test="mtu != null" >
        #{mtu,jdbcType=VARCHAR},
      </if>
      <if test="portname != null" >
        #{portname,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="CCN" >
    update ecn_ccn
    <set >
      <if test="neid != null" >
        neId = #{neid,jdbcType=VARCHAR},
      </if>
      <if test="ccnname != null" >
        ccnName = #{ccnname,jdbcType=VARCHAR},
      </if>
      <if test="admin != null" >
        admin = #{admin,jdbcType=VARCHAR},
      </if>
      <if test="oper != null" >
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="peer != null" >
        peer = #{peer,jdbcType=VARCHAR},
      </if>
      <if test="mtu != null" >
        mtu = #{mtu,jdbcType=VARCHAR},
      </if>
      <if test="portname != null" >
        portname = #{portname,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="CCN" >
    update ecn_ccn
    set neId = #{neid,jdbcType=VARCHAR},
      ccnName = #{ccnname,jdbcType=VARCHAR},
      admin = #{admin,jdbcType=VARCHAR},
      oper = #{oper,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      peer = #{peer,jdbcType=VARCHAR},
      mtu = #{mtu,jdbcType=VARCHAR},
      portname = #{portname,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryByNeID" parameterType="java.lang.String" resultType="CCN">
  SELECT * from ecn_ccn WHERE neId = #{0}
  </select>
</mapper>