<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.path.SetNameRuleMapper" >
  <resultMap id="BaseResultMap" type="SetNameRule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="namerule" property="namerule" jdbcType="VARCHAR" />
    <result column="nameexample" property="nameexample" jdbcType="VARCHAR" />
    <result column="sourcename" property="sourcename" jdbcType="VARCHAR" />
    <result column="rowcount" property="rowcount" jdbcType="INTEGER" />
    <result column="isUsed" property="isused" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, namerule, nameexample, sourcename, rowcount, isUsed
  </sql>
 
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from setnamerule where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="SetNameRule"  useGeneratedKeys="true" keyProperty="nameRule.id">
    insert into setnamerule (name, namerule,nameexample, sourcename, rowcount,isUsed)
    values (#{nameRule.name,jdbcType=VARCHAR}, #{nameRule.namerule,jdbcType=VARCHAR}, 
      #{nameRule.nameexample,jdbcType=VARCHAR}, #{nameRule.sourcename,jdbcType=VARCHAR}, #{nameRule.rowcount,jdbcType=INTEGER}, 
      #{nameRule.isUsed,jdbcType=INTEGER})
  </insert>
   
  <select id="queryByidCondition" resultType="SetNameRule" parameterType="SetNameRule" >
    select 
    <include refid="Base_Column_List" />
    from setnamerule
    <where>
    1=1
    <if test="nameRule.sourcename!=null and nameRule.sourcename!='' ">and sourcename=#{nameRule.sourcename}</if>
    <if test="nameRule.isUsed>0 ">and isUsed=#{nameRule.isUsed}</if>
    </where>   
  </select>

 <update id="update" parameterType="SetNameRule" >
    update setnamerule
    set name = #{nameRule.name,jdbcType=VARCHAR},
      namerule = #{nameRule.namerule,jdbcType=VARCHAR},
      nameexample = #{nameRule.nameexample,jdbcType=VARCHAR},
      sourcename = #{nameRule.sourcename,jdbcType=VARCHAR},
      rowcount = #{nameRule.rowcount,jdbcType=INTEGER},
      isUsed = #{nameRule.isUsed,jdbcType=INTEGER}
    where id = #{nameRule.id,jdbcType=INTEGER}
  </update>
   <select id="queryname" resultType="java.lang.Integer" parameterType="map" >
    select count(*) as selectcount from setnamerule where name=#{afterName}
    <if test="beforeName!=null ">and name!=#{beforeName}</if>
  </select>
 
</mapper>