<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.port.AcPortInfoMapper" >
  <resultMap id="BaseResultMap" type="AcPortInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="siteId" property="siteid" jdbcType="INTEGER" />
    <result column="portId" property="portid" jdbcType="INTEGER" />
    <result column="lagId" property="lagid" jdbcType="INTEGER" />
    <result column="portModel" property="portmodel" jdbcType="INTEGER" />
    <result column="operatorVlanId" property="operatorvlanid" jdbcType="VARCHAR" />
    <result column="clientVlanId" property="clientvlanid" jdbcType="VARCHAR" />
    <result column="managerEnable" property="managerenable" jdbcType="INTEGER" />
    <result column="exitRule" property="exitrule" jdbcType="INTEGER" />
    <result column="vlanId" property="vlanid" jdbcType="VARCHAR" />
    <result column="vlancri" property="vlancri" jdbcType="VARCHAR" />
    <result column="vlanpri" property="vlanpri" jdbcType="VARCHAR" />
    <result column="horizontalDivision" property="horizontaldivision" jdbcType="INTEGER" />
    <result column="macAddressLearn" property="macaddresslearn" jdbcType="INTEGER" />
    <result column="tagAction" property="tagaction" jdbcType="INTEGER" />
    <result column="jobStatus" property="jobstatus" jdbcType="VARCHAR" />
    <result column="acBusinessId" property="acbusinessid" jdbcType="INTEGER" />
    <result column="bufType" property="buftype" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="isUser" property="isuser" jdbcType="INTEGER" />
    <result column="model" property="model" jdbcType="INTEGER" />
    <result column="acStatus" property="acstatus" jdbcType="INTEGER" />
    <result column="macCount" property="maccount" jdbcType="INTEGER" />
    <result column="lanId" property="lanid" jdbcType="INTEGER" />
    <result column="downTpid" property="lanid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, siteId, portId, lagId, portModel, operatorVlanId, clientVlanId, managerEnable, 
    exitRule, vlanId, vlancri, vlanpri, horizontalDivision, macAddressLearn, tagAction, 
    jobStatus, acBusinessId, bufType, name, isUser, model, acStatus, macCount, lanId,downTpid
  </sql>
  <select id="queryByCondition" resultType="AcPortInfo" parameterType="AcPortInfo" >
    select 
    <include refid="Base_Column_List" />
    from acinfo where 1=1
    <if test = "id > 0">
    and Id=#{id}
    </if>
    <if test = "siteId > 0">
    and siteId=#{siteId}
    </if>
    <if test = "portId > 0">
    and portId=#{portId}
    </if>
    <if test = "acBusinessId > 0">
    and AcBusinessId=#{acBusinessId}
    </if>
    <if test = "lagId > 0">
    and lagid=#{lagId}
    </if>
    <if test = "acStatus > 0">
    and acStatus=#{acStatus}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from acinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="AcPortInfo" useGeneratedKeys="true" keyProperty="id">
    insert into acinfo (id, siteId, portId, 
      lagId, portModel, operatorVlanId, 
      clientVlanId, managerEnable, exitRule, 
      vlanId, vlancri, vlanpri, 
      horizontalDivision, macAddressLearn, tagAction, 
      jobStatus, acBusinessId, bufType, 
      name, isUser, model, 
      acStatus, macCount, lanId,downTpid
      )
    values (#{id,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, #{portId,jdbcType=INTEGER}, 
      #{lagId,jdbcType=INTEGER}, #{portModel,jdbcType=INTEGER}, #{operatorVlanId,jdbcType=VARCHAR}, 
      #{clientVlanId,jdbcType=VARCHAR}, #{managerEnable,jdbcType=INTEGER}, #{exitRule,jdbcType=INTEGER}, 
      #{vlanId,jdbcType=VARCHAR}, #{vlancri,jdbcType=VARCHAR}, #{vlanpri,jdbcType=VARCHAR}, 
      #{horizontalDivision,jdbcType=INTEGER}, #{macAddressLearn,jdbcType=INTEGER}, #{tagAction,jdbcType=INTEGER}, 
      #{jobStatus,jdbcType=VARCHAR}, #{acBusinessId,jdbcType=INTEGER}, #{bufType,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{isUser,jdbcType=INTEGER}, #{model,jdbcType=INTEGER}, 
      #{acStatus,jdbcType=INTEGER}, #{macCount,jdbcType=INTEGER}, #{lanId,jdbcType=INTEGER},#{downTpid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="AcPortInfo" >
    insert into acinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="siteid != null" >
        siteId,
      </if>
      <if test="portid != null" >
        portId,
      </if>
      <if test="lagid != null" >
        lagId,
      </if>
      <if test="portmodel != null" >
        portModel,
      </if>
      <if test="operatorvlanid != null" >
        operatorVlanId,
      </if>
      <if test="clientvlanid != null" >
        clientVlanId,
      </if>
      <if test="managerenable != null" >
        managerEnable,
      </if>
      <if test="exitrule != null" >
        exitRule,
      </if>
      <if test="vlanid != null" >
        vlanId,
      </if>
      <if test="vlancri != null" >
        vlancri,
      </if>
      <if test="vlanpri != null" >
        vlanpri,
      </if>
      <if test="horizontaldivision != null" >
        horizontalDivision,
      </if>
      <if test="macaddresslearn != null" >
        macAddressLearn,
      </if>
      <if test="tagaction != null" >
        tagAction,
      </if>
      <if test="jobstatus != null" >
        jobStatus,
      </if>
      <if test="acbusinessid != null" >
        acBusinessId,
      </if>
      <if test="buftype != null" >
        bufType,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="isuser != null" >
        isUser,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="acstatus != null" >
        acStatus,
      </if>
      <if test="maccount != null" >
        macCount,
      </if>
      <if test="lanid != null" >
        lanId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteid != null" >
        #{siteid,jdbcType=INTEGER},
      </if>
      <if test="portid != null" >
        #{portid,jdbcType=INTEGER},
      </if>
      <if test="lagid != null" >
        #{lagid,jdbcType=INTEGER},
      </if>
      <if test="portmodel != null" >
        #{portmodel,jdbcType=INTEGER},
      </if>
      <if test="operatorvlanid != null" >
        #{operatorvlanid,jdbcType=VARCHAR},
      </if>
      <if test="clientvlanid != null" >
        #{clientvlanid,jdbcType=VARCHAR},
      </if>
      <if test="managerenable != null" >
        #{managerenable,jdbcType=INTEGER},
      </if>
      <if test="exitrule != null" >
        #{exitrule,jdbcType=INTEGER},
      </if>
      <if test="vlanid != null" >
        #{vlanid,jdbcType=VARCHAR},
      </if>
      <if test="vlancri != null" >
        #{vlancri,jdbcType=VARCHAR},
      </if>
      <if test="vlanpri != null" >
        #{vlanpri,jdbcType=VARCHAR},
      </if>
      <if test="horizontaldivision != null" >
        #{horizontaldivision,jdbcType=INTEGER},
      </if>
      <if test="macaddresslearn != null" >
        #{macaddresslearn,jdbcType=INTEGER},
      </if>
      <if test="tagaction != null" >
        #{tagaction,jdbcType=INTEGER},
      </if>
      <if test="jobstatus != null" >
        #{jobstatus,jdbcType=VARCHAR},
      </if>
      <if test="acbusinessid != null" >
        #{acbusinessid,jdbcType=INTEGER},
      </if>
      <if test="buftype != null" >
        #{buftype,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isuser != null" >
        #{isuser,jdbcType=INTEGER},
      </if>
      <if test="model != null" >
        #{model,jdbcType=INTEGER},
      </if>
      <if test="acstatus != null" >
        #{acstatus,jdbcType=INTEGER},
      </if>
      <if test="maccount != null" >
        #{maccount,jdbcType=INTEGER},
      </if>
      <if test="lanid != null" >
        #{lanid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="AcPortInfo" >
    update acinfo
    <set >
      <if test="siteid != null" >
        siteId = #{siteid,jdbcType=INTEGER},
      </if>
      <if test="portid != null" >
        portId = #{portid,jdbcType=INTEGER},
      </if>
      <if test="lagid != null" >
        lagId = #{lagid,jdbcType=INTEGER},
      </if>
      <if test="portmodel != null" >
        portModel = #{portmodel,jdbcType=INTEGER},
      </if>
      <if test="operatorvlanid != null" >
        operatorVlanId = #{operatorvlanid,jdbcType=VARCHAR},
      </if>
      <if test="clientvlanid != null" >
        clientVlanId = #{clientvlanid,jdbcType=VARCHAR},
      </if>
      <if test="managerenable != null" >
        managerEnable = #{managerenable,jdbcType=INTEGER},
      </if>
      <if test="exitrule != null" >
        exitRule = #{exitrule,jdbcType=INTEGER},
      </if>
      <if test="vlanid != null" >
        vlanId = #{vlanid,jdbcType=VARCHAR},
      </if>
      <if test="vlancri != null" >
        vlancri = #{vlancri,jdbcType=VARCHAR},
      </if>
      <if test="vlanpri != null" >
        vlanpri = #{vlanpri,jdbcType=VARCHAR},
      </if>
      <if test="horizontaldivision != null" >
        horizontalDivision = #{horizontaldivision,jdbcType=INTEGER},
      </if>
      <if test="macaddresslearn != null" >
        macAddressLearn = #{macaddresslearn,jdbcType=INTEGER},
      </if>
      <if test="tagaction != null" >
        tagAction = #{tagaction,jdbcType=INTEGER},
      </if>
      <if test="jobstatus != null" >
        jobStatus = #{jobstatus,jdbcType=VARCHAR},
      </if>
      <if test="acbusinessid != null" >
        acBusinessId = #{acbusinessid,jdbcType=INTEGER},
      </if>
      <if test="buftype != null" >
        bufType = #{buftype,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isuser != null" >
        isUser = #{isuser,jdbcType=INTEGER},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=INTEGER},
      </if>
      <if test="acstatus != null" >
        acStatus = #{acstatus,jdbcType=INTEGER},
      </if>
      <if test="maccount != null" >
        macCount = #{maccount,jdbcType=INTEGER},
      </if>
      <if test="lanid != null" >
        lanId = #{lanid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="AcPortInfo" >
    update acinfo
    set siteId = #{siteId,jdbcType=INTEGER},
      portId = #{portId,jdbcType=INTEGER},
      lagId = #{lagId,jdbcType=INTEGER},
      portModel = #{portModel,jdbcType=INTEGER},
      operatorVlanId = #{operatorVlanId,jdbcType=VARCHAR},
      clientVlanId = #{clientVlanId,jdbcType=VARCHAR},
      managerEnable = #{managerEnable,jdbcType=INTEGER},
      exitRule = #{exitRule,jdbcType=INTEGER},
      vlanId = #{vlanId,jdbcType=VARCHAR},
      vlancri = #{vlancri,jdbcType=VARCHAR},
      vlanpri = #{vlanpri,jdbcType=VARCHAR},
      horizontalDivision = #{horizontalDivision,jdbcType=INTEGER},
      macAddressLearn = #{macAddressLearn,jdbcType=INTEGER},
      tagAction = #{tagAction,jdbcType=INTEGER},
      jobStatus = #{jobStatus,jdbcType=VARCHAR},
      acBusinessId = #{acBusinessId,jdbcType=INTEGER},
      bufType = #{bufType,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      isUser = #{isUser,jdbcType=INTEGER},
      model = #{model,jdbcType=INTEGER},
      acStatus = #{acStatus,jdbcType=INTEGER},
      macCount = #{macCount,jdbcType=INTEGER},
      lanId = #{lanId,jdbcType=INTEGER},
      downTpid = #{downTpid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryByAcIdCondition" resultType="AcPortInfo" parameterType="map" >
    SELECT * FROM acinfo WHERE Id in
   <foreach item="item" index="index" collection="acIds" open="(" separator= ", " close=" )">  
 	 #{item}  
 	</foreach>
  </select>
  
  <select id="selectByPortId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select id from acinfo WHERE 1=1
	<if test="portId > 0">
	and portId=#{portId}
	</if>  
  </select>
  
  <select id="query_nameBySingle" resultType="java.lang.Integer"  >
    select count(id) as account from acinfo where name=#{afterName} and siteId=#{siteId}
    <if test="beforeName != null and beforeName != '' ">
    	and name!= #{beforeName}
    </if>
  </select>
  
  <update id="setUser">
  	update acinfo set IsUser = #{1} where Id=#{0}
  </update>
  
  <delete id="deleteIds" parameterType="list">
  	delete from acinfo where id in 
  	<foreach item="item" index="index" collection="acIdList" open="(" separator= ", " close=")">  
 	 #{item}  
 	</foreach>
  </delete>
  
  <update id="updateAcState" parameterType="list">
  	update acinfo set IsUser = 0 where Id in 
  	<foreach item="item" index="index" collection="acIdList" open="(" separator= ", " close=")">  
 	 #{item}  
 	</foreach>
  </update>
  
  <select id="selectByCondition_synchro" resultType="AcPortInfo" parameterType="AcPortInfo">
  	SELECT * FROM acinfo WHERE 1=1
  	<if test="id >0 ">
  		and id = #{id}
  	</if>
  	<if test="siteId >0 ">
  		and siteId = #{siteId}
  	</if>
  	<if test="portId >0 ">
  		and portId = #{portId}
  	</if>
  	<if test="acBusinessId >0 ">
  		and acBusinessId = #{acBusinessId}
  	</if>
  	<if test="lagId >0 ">
  		and lagId = #{lagId}
  	</if>
  </select>
  
  <update id="updateActiveStatus">
  	update acinfo set acstatus=#{1} where siteId=#{0}
  </update>
  
  <update id="updateLanId">
    update acinfo set lanId = #{0} where id=#{1}
  </update>
  
  <delete id="deleteBySiteId" parameterType="java.lang.Integer" >
    delete from acinfo where siteId= #{siteId,jdbcType=INTEGER}
  </delete>
</mapper>