<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.clock.ClockSourceMapper" >
  <resultMap id="BaseResultMap" type="ClockSource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="siteId" property="siteId" jdbcType="INTEGER" />
    <result column="port" property="port" jdbcType="INTEGER" />
    <result column="clockType" property="clockType" jdbcType="INTEGER" />
    <result column="systemPriorLevel" property="systemPriorLevel" jdbcType="INTEGER" />
    <result column="exportPriorLevel" property="exportPriorLevel" jdbcType="INTEGER" />
    <result column="physicsState" property="physicsState" jdbcType="VARCHAR" />
    <result column="logicState" property="logicState" jdbcType="VARCHAR" />
    <result column="receiveSSMValue" property="receiveSSMValue" jdbcType="INTEGER" />
    <result column="receiveSSMRealityValue" property="receiveSSMRealityValue" jdbcType="INTEGER" />
    <result column="SSMSend" property="SSMSend" jdbcType="INTEGER" />
    <result column="selectQuelityLevel" property="selectQuelityLevel" jdbcType="VARCHAR" />
    <result column="DNUGroup" property="DNUGroup" jdbcType="INTEGER" />
    <result column="recoverModel" property="recoverModel" jdbcType="INTEGER" />
    <result column="externalOrder" property="externalOrder" jdbcType="VARCHAR" />
    <result column="manageState" property="manageState" jdbcType="VARCHAR" />
    <result column="jobState" property="jobState" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, siteId, port, clockType, systemPriorLevel, exportPriorLevel, physicsState, logicState, 
    receiveSSMValue, receiveSSMRealityValue, SSMSend, selectQuelityLevel, DNUGroup, recoverModel, 
    externalOrder, manageState, jobState
  </sql>
 
  
  <delete id="delete" parameterType="ClockSource" >
    delete from frequencymanageclock where 1=1
    <if test="siteId!=0"> and siteId = #{siteId} </if>
	<if test="port!=0"> and port = #{port} </if>					
  </delete>
  
  <insert id="insertSystemModel" parameterType="ClockSource"  useGeneratedKeys="true" keyProperty="id">
    insert into frequencymanageclock(siteId,port,clockType,systemPriorLevel,exportPriorLevel,physicsState,
	logicState,receiveSSMValue,receiveSSMRealityValue,SSMSend,selectQuelityLevel,DNUGroup,recoverModel,
	externalOrder,manageState,jobState) 
	value(#{siteId},#{port},#{clockType},#{systemPriorLevel},#{exportPriorLevel},#{physicsState},#{logicState},
	#{receiveSSMValue},#{receiveSSMRealityValue},#{SSMSend},#{selectQuelityLevel},#{DNUGroup},#{recoverModel},
	#{externalOrder},#{manageState},#{jobState})
  </insert>

 <insert id="insertExportModel" parameterType="ClockSource"  useGeneratedKeys="true" keyProperty="id">
    insert into frequencymanageclock(siteId,port,clockType,systemPriorLevel,exportPriorLevel,physicsState,
	logicState,receiveSSMValue,receiveSSMRealityValue,SSMSend,selectQuelityLevel,DNUGroup,recoverModel,
	externalOrder,manageState,jobState) 
	value(#{siteId},#{port},#{clockType},#{systemPriorLevel},#{exportPriorLevel},#{physicsState},#{logicState},
	#{receiveSSMValue},#{receiveSSMRealityValue},#{SSMSend},#{selectQuelityLevel},#{DNUGroup},#{recoverModel},
	#{externalOrder},#{manageState},#{jobState})
  </insert>
 
  
  <update id="update" parameterType="ClockSource" >
    update frequencymanageclock set port=#{port},clockType=#{clockType},systemPriorLevel=#{systemPriorLevel},
    receiveSSMValue=#{receiveSSMValue},SSMSend=#{SSMSend},DNUGroup=#{DNUGroup},recoverModel=#{recoverModel}, 
    manageState=#{manageState},jobState=#{jobState} ,receiveSSMRealityValue=#{receiveSSMRealityValue} ,
    logicState =#{logicState},PhysicsState=#{physicsState} ,externalOrder=#{externalOrder} where 1=1 
	<if test="siteId!=0"> and siteId =#{siteId}</if>
    <if test="port!=0"> and port =#{port}</if>
    <if test="clockType!=0"> and clockType =#{clockType}</if>
  </update>
  
  <update id="updateActiveStatus" parameterType="map" >
  update frequencymanageclock set activeStatus=#{activeStatus} where siteid=#{siteId}
  </update>
  
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from frequencymanageclock
    where siteId = #{siteId,jdbcType=INTEGER}
  </select>
  
   <select id="selectByCondtion" resultMap="BaseResultMap" parameterType="ClockSource" >
    select 
    <include refid="Base_Column_List" />
    from frequencymanageclock
    where 1=1
    <if test="siteId!=0"> and siteId =#{siteId}</if>
    <if test="port!=0"> and port =#{port}</if>
    <if test="id!=0"> and id =#{id}</if>
  </select>
  
  <select id="queryCorbaByCondition" resultMap="ClockSourceCorbaMap" parameterType="ClockSourceCorba" >
   SELECT t.id, t.siteId, t.PriorLevel, t.jobStatus, t.ssmenable, t.type, s.CellId, p.portName, t.QualityLevel, t.model FROM 
   ( SELECT f.id AS 'id', f.siteId AS 'siteId', f.systemPriorLevel AS 'PriorLevel', f.jobState AS 'jobStatus', f.SSMSend AS 'ssmenable',
   CASE WHEN f.clockType = 527 THEN 2 ELSE 0 END AS 'type', f.`port` AS 'portid', - 1 AS 'QualityLevel', - 1 AS 'model' 
   FROM `frequencymanageclock` f UNION ALL SELECT ti.id AS 'id', ti.siteId AS 'siteId', '' AS 'PriorLevelPriorLevelPriorLevel', 
	'' AS 'jobStatus', ti.ssmSendingEnabled AS 'ssmenable', '1' AS 'type', ti.`port` AS 'portid', - 1 AS 'QualityLevel', - 1 AS 'model'
	FROM timeClockInterfac ti ) t, site_inst s, port_inst p WHERE t.siteId = s.site_inst_id AND p.portId = t.portid 
	<if test="siteId!=0"> and t.siteId=#{siteId}</if> 			
  </select>
  
  <resultMap id="ClockSourceCorbaMap" type="ClockSourceCorba" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="siteId" property="siteId" jdbcType="INTEGER" />
    <result column="portName" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="PriorLevel" property="priorityLevel" jdbcType="INTEGER" />
    <result column="ssmEnable" property="ssmEnable" jdbcType="INTEGER" />
    <result column="jobStatus" property="jobStatus" jdbcType="INTEGER" />
    <result column="CellId" property="siteName" jdbcType="VARCHAR" />
    <result column="QualityLevel" property="QualityLevel" jdbcType="INTEGER" />
    <result column="model" property="model" jdbcType="INTEGER" />
  </resultMap>
</mapper>