<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.clock.PortConfigInfoMapper" >
  <resultMap id="BaseResultMap" type="PortConfigInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="siteId" property="siteId" jdbcType="INTEGER" />
    <result column="port" property="port" jdbcType="INTEGER" />
    <result column="portEnable" property="portEnable" jdbcType="INTEGER" />
    <result column="clockModel" property="clockModel" jdbcType="VARCHAR" />
    <result column="delayMechanism" property="delayMechanism" jdbcType="INTEGER" />
    <result column="vlanID" property="vlanID" jdbcType="VARCHAR" />
    <result column="operationMode" property="operationMode" jdbcType="INTEGER" />
    <result column="portStatus" property="portStatus" jdbcType="VARCHAR" />
    <result column="timeStampMode" property="timeStampMode" jdbcType="INTEGER" />
    <result column="AnncPacketsInterval" property="AnncPacketsInterval" jdbcType="INTEGER" />
    <result column="AnncTimeoutSetting" property="AnncTimeoutSetting" jdbcType="VARCHAR" />
    <result column="SyncPacketsInterval" property="SyncPacketsInterval" jdbcType="INTEGER" />
    <result column="Delay_ReqPacketsInterval" property="Delay_ReqPacketsInterval" jdbcType="INTEGER" />
    <result column="Pdel_ReqPacketsInterval" property="Pdel_ReqPacketsInterval" jdbcType="INTEGER" />
    <result column="lineDelayCompensation" property="lineDelayCompensation" jdbcType="VARCHAR" />
    <result column="delayCompensationMeasure" property="delayCompensationMeasure" jdbcType="VARCHAR" />
    <result column="portMapping" property="portMapping" jdbcType="VARCHAR" />
    <result column="interfaceType" property="interfaceType" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, siteId, port, portEnable, clockModel, delayMechanism, vlanID, operationMode, 
    portStatus, timeStampMode, AnncPacketsInterval, AnncTimeoutSetting, SyncPacketsInterval, 
    Delay_ReqPacketsInterval, Pdel_ReqPacketsInterval, lineDelayCompensation, delayCompensationMeasure, 
    portMapping, interfaceType
  </sql>

  <delete id="delete" parameterType="PortConfigInfo" >
    delete from timeportdisposition where id=#{id}
  </delete>
  
  <insert id="insert" parameterType="PortConfigInfo"  useGeneratedKeys="true" keyProperty="id">
    insert into timePortDisposition(siteId,port,portEnable,clockModel,delayMechanism,vlanID,operationMode,
	portStatus,timeStampMode,AnncPacketsInterval,AnncTimeoutSetting,SyncPacketsInterval,
	Delay_ReqPacketsInterval,Pdel_ReqPacketsInterval,lineDelayCompensation,delayCompensationMeasure,
	portMapping,interfaceType)
	value(#{siteId},#{port},#{portEnable},#{clockModel},#{delayMechanism},
	#{vlanID},#{operationMode},#{portStatus},#{timeStampMode},#{AnncPacketsInterval},#{AnncTimeoutSetting},#{SyncPacketsInterval},
	#{Delay_ReqPacketsInterval},#{Pdel_ReqPacketsInterval},#{lineDelayCompensation},#{delayCompensationMeasure},#{portMapping},#{interfaceType})
  </insert>

  <update id="update" parameterType="PortConfigInfo" >
    update timeportdisposition set port=#{port},portEnable=#{portEnable},clockModel=#{clockModel},delayMechanism=#{delayMechanism},
	vlanID=#{vlanID},operationMode=#{operationMode},portStatus=#{portStatus},timeStampMode=#{timeStampMode},
	AnncPacketsInterval=#{AnncPacketsInterval},AnncTimeoutSetting=#{AnncTimeoutSetting},
	SyncPacketsInterval=#{SyncPacketsInterval},Delay_ReqPacketsInterval=#{Delay_ReqPacketsInterval},Pdel_ReqPacketsInterval=#{Pdel_ReqPacketsInterval},
	lineDelayCompensation=#{lineDelayCompensation},delayCompensationMeasure=#{delayCompensationMeasure},portMapping=#{portMapping},
	interfaceType=#{interfaceType} where id=#{id}
  </update>

   <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from timeportdisposition
    where siteId=#{siteId}
  </select>
  
   <select id="selectByCondtion" resultMap="BaseResultMap" parameterType="PortConfigInfo" >
    select 
    <include refid="Base_Column_List" />
    from timeportdisposition
    where 1=1
    <if test="id!=0"> and id=#{id}</if>
  </select>
</mapper>