<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.system.operationDataLogMapper" >
  <resultMap id="BaseResultMap" type="OperationDataLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="opeLogId" property="opeLogId" jdbcType="INTEGER" />
    <result column="value_before" property="value_before" jdbcType="VARCHAR" />
    <result column="value_after" property="value_after" jdbcType="VARCHAR" />
    <result column="fieldNameId" property="fieldNameId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, opeLogId, value_before, value_after, fieldNameId
  </sql>
  <select id="selectByOpeLogId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operationdatalog where opeLogId = #{0}
  </select>
  <delete id="deleteByLogId" parameterType="java.lang.Integer" >
    delete from operationdatalog where opeLogId = #{0}
  </delete>
  <insert id="insert" parameterType="OperationDataLog"  useGeneratedKeys="true" keyProperty="id">
    insert into operationdatalog (opeLogId, value_before, value_after, fieldNameId)
    values (#{opeLogId,jdbcType=INTEGER}, #{value_before,jdbcType=VARCHAR}, #{value_after,jdbcType=VARCHAR}, #{fieldNameId,jdbcType=VARCHAR})
  </insert>
  <delete id="deleteByLogIdRange" parameterType="java.lang.Integer" >
    delete from operationdatalog where opeLogId between #{0} and #{1}
  </delete>
</mapper>