<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.path.protect.MspProtectMapper" >
  <resultMap id="BaseResultMap" type="MspProtect" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="businessId" property="businessId" jdbcType="INTEGER" />
    <result column="protectType" property="protectType" jdbcType="INTEGER" />
    <result column="recoveryMode" property="recoveryMode" jdbcType="INTEGER" />
    <result column="workPortId" property="workPortId" jdbcType="INTEGER" />
    <result column="ProtectPortId" property="ProtectPortId" jdbcType="INTEGER" />
    <result column="WaitTime" property="WaitTime" jdbcType="INTEGER" />
    <result column="delayTime" property="delayTime" jdbcType="INTEGER" />
    <result column="sfPriority" property="sfPriority" jdbcType="INTEGER" />
    <result column="sdPriority" property="sdPriority" jdbcType="INTEGER" />
    <result column="apsEnable" property="apsEnable" jdbcType="INTEGER" />
    <result column="sdEnable" property="sdEnable" jdbcType="INTEGER" />
    <result column="ProtectStatus" property="ProtectStatus" jdbcType="VARCHAR" />
    <result column="NowWorkPortId" property="NowWorkPortId" jdbcType="INTEGER" />
    <result column="rotateOrder" property="rotateOrder" jdbcType="INTEGER" />
    <result column="siteId" property="siteId" jdbcType="INTEGER" />
    <result column="mspStatus" property="mspStatus" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, businessId, protectType, recoveryMode, workPortId, ProtectPortId, WaitTime, delayTime, 
    sfPriority, sdPriority, apsEnable, sdEnable, ProtectStatus, NowWorkPortId, rotateOrder, 
    siteId, mspStatus, name
  </sql>
 
  <delete id="delete" parameterType="MspProtect" >
    delete from mspprotect where 1=1
    <if test="id!=0"> and id = #{id}</if>
  </delete>
  
  <insert id="insert" parameterType="MspProtect"  useGeneratedKeys="true" keyProperty="id">
    insert into mspprotect (businessId, protectType, 
      recoveryMode, workPortId, ProtectPortId, 
      WaitTime, delayTime, sfPriority, 
      sdPriority, apsEnable, sdEnable, 
      ProtectStatus, NowWorkPortId, rotateOrder, 
      siteId, mspStatus, name
      )
    values ( #{businessId,jdbcType=INTEGER}, #{protectType,jdbcType=INTEGER}, 
      #{recoveryMode,jdbcType=INTEGER}, #{workPortId,jdbcType=INTEGER}, #{ProtectPortId,jdbcType=INTEGER}, 
      #{WaitTime,jdbcType=INTEGER}, #{delayTime,jdbcType=INTEGER}, #{sfPriority,jdbcType=INTEGER}, 
      #{sdPriority,jdbcType=INTEGER}, #{apsEnable,jdbcType=INTEGER}, #{sdEnable,jdbcType=INTEGER}, 
      #{ProtectStatus,jdbcType=VARCHAR}, #{NowWorkPortId,jdbcType=INTEGER}, #{rotateOrder,jdbcType=INTEGER}, 
      #{siteId,jdbcType=INTEGER}, #{mspStatus,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>


  <update id="update" parameterType="MspProtect" >
    update mspprotect
    set businessId = #{businessId,jdbcType=INTEGER},
      protectType = #{protectType,jdbcType=INTEGER},
      recoveryMode = #{recoveryMode,jdbcType=INTEGER},
      workPortId = #{workPortId,jdbcType=INTEGER},
      ProtectPortId = #{ProtectPortId,jdbcType=INTEGER},
      WaitTime = #{WaitTime,jdbcType=INTEGER},
      delayTime = #{delayTime,jdbcType=INTEGER},
      sfPriority = #{sfPriority,jdbcType=INTEGER},
      sdPriority = #{sdPriority,jdbcType=INTEGER},
      apsEnable = #{apsEnable,jdbcType=INTEGER},
      sdEnable = #{sdEnable,jdbcType=INTEGER},
      ProtectStatus = #{ProtectStatus,jdbcType=VARCHAR},
      NowWorkPortId =  #{NowWorkPortId,jdbcType=INTEGER},
      rotateOrder =  #{rotateOrder,jdbcType=INTEGER},
      siteId =  #{siteId,jdbcType=INTEGER},
      mspStatus = #{mspStatus,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="query" parameterType="MspProtect" resultType="MspProtect">
  select id,businessId,protectType,recoveryMode,workPortId,ProtectPortId,WaitTime,
  delayTime,sfPriority,sdPriority,apsEnable,sdEnable,ProtectStatus,NowWorkPortId,
  siteid,RotateOrder ,mspStatus,name from mspProtect where 1=1
  <if test="id > 0">
  and id=#{id}
  </if>
  <if test="siteId > 0">
  and siteId=#{siteId}
  </if>
  <if test="businessId > 0">
  and businessId=#{businessId}
  </if>
  <if test="name != null and name != ''">
  and name=#{name}
  </if>
  </select>
  
  <delete id="deleteBySiteId" parameterType="java.lang.Integer" >
    delete from mspprotect where siteId=#{siteId}
  </delete>
  
   <update id="updateActiveStatus" parameterType="map" >
   update mspprotect set mspstatus =#{status} where siteid =#{siteId}
   </update>
   
</mapper>