<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.path.protect.PwProtectMapper" >
  <resultMap id="BaseResultMap" type="PwProtect" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="protectType" property="protecttype" jdbcType="INTEGER" />
    <result column="mainSlot" property="mainslot" jdbcType="INTEGER" />
    <result column="mainPort" property="mainport" jdbcType="INTEGER" />
    <result column="mainTunnelId" property="maintunnelid" jdbcType="INTEGER" />
    <result column="mainPwId" property="mainpwid" jdbcType="INTEGER" />
    <result column="standSlot" property="standslot" jdbcType="INTEGER" />
    <result column="standPort" property="standport" jdbcType="INTEGER" />
    <result column="standTunnelId" property="standtunnelid" jdbcType="INTEGER" />
    <result column="standPwId" property="standpwid" jdbcType="INTEGER" />
    <result column="delayTime" property="delaytime" jdbcType="INTEGER" />
    <result column="backType" property="backtype" jdbcType="INTEGER" />
    <result column="businessId" property="businessid" jdbcType="INTEGER" />
    <result column="siteId" property="siteid" jdbcType="INTEGER" />
    <result column="serviceId" property="serviceid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, protectType, mainSlot, mainPort, mainTunnelId, mainPwId, standSlot, standPort, 
    standTunnelId, standPwId, delayTime, backType, businessId, siteId, serviceId
  </sql>
  <select id="selectByPrimaryKey" resultType="PwProtect" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pwprotect
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pwprotect
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="PwProtect" useGeneratedKeys="true" keyProperty="id" >
    insert into pwprotect (id, protectType, mainSlot, 
      mainPort, mainTunnelId, mainPwId, 
      standSlot, standPort, standTunnelId, 
      standPwId, delayTime, backType, 
      businessId, siteId, serviceId
      )
    values (#{id,jdbcType=INTEGER}, #{protectType,jdbcType=INTEGER}, #{mainSlot,jdbcType=INTEGER}, 
      #{mainPort,jdbcType=INTEGER}, #{mainTunnelId,jdbcType=INTEGER}, #{mainPwId,jdbcType=INTEGER}, 
      #{standSlot,jdbcType=INTEGER}, #{standPort,jdbcType=INTEGER}, #{standTunnelId,jdbcType=INTEGER}, 
      #{standPwId,jdbcType=INTEGER}, #{delayTime,jdbcType=INTEGER}, #{backType,jdbcType=INTEGER}, 
      #{businessId,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, #{serviceId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="PwProtect" >
    insert into pwprotect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="protecttype != null" >
        protectType,
      </if>
      <if test="mainslot != null" >
        mainSlot,
      </if>
      <if test="mainport != null" >
        mainPort,
      </if>
      <if test="maintunnelid != null" >
        mainTunnelId,
      </if>
      <if test="mainpwid != null" >
        mainPwId,
      </if>
      <if test="standslot != null" >
        standSlot,
      </if>
      <if test="standport != null" >
        standPort,
      </if>
      <if test="standtunnelid != null" >
        standTunnelId,
      </if>
      <if test="standpwid != null" >
        standPwId,
      </if>
      <if test="delaytime != null" >
        delayTime,
      </if>
      <if test="backtype != null" >
        backType,
      </if>
      <if test="businessid != null" >
        businessId,
      </if>
      <if test="siteid != null" >
        siteId,
      </if>
      <if test="serviceid != null" >
        serviceId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="protecttype != null" >
        #{protecttype,jdbcType=INTEGER},
      </if>
      <if test="mainslot != null" >
        #{mainslot,jdbcType=INTEGER},
      </if>
      <if test="mainport != null" >
        #{mainport,jdbcType=INTEGER},
      </if>
      <if test="maintunnelid != null" >
        #{maintunnelid,jdbcType=INTEGER},
      </if>
      <if test="mainpwid != null" >
        #{mainpwid,jdbcType=INTEGER},
      </if>
      <if test="standslot != null" >
        #{standslot,jdbcType=INTEGER},
      </if>
      <if test="standport != null" >
        #{standport,jdbcType=INTEGER},
      </if>
      <if test="standtunnelid != null" >
        #{standtunnelid,jdbcType=INTEGER},
      </if>
      <if test="standpwid != null" >
        #{standpwid,jdbcType=INTEGER},
      </if>
      <if test="delaytime != null" >
        #{delaytime,jdbcType=INTEGER},
      </if>
      <if test="backtype != null" >
        #{backtype,jdbcType=INTEGER},
      </if>
      <if test="businessid != null" >
        #{businessid,jdbcType=INTEGER},
      </if>
      <if test="siteid != null" >
        #{siteid,jdbcType=INTEGER},
      </if>
      <if test="serviceid != null" >
        #{serviceid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="PwProtect" >
    update pwprotect
    <set >
      <if test="protecttype != null" >
        protectType = #{protectType,jdbcType=INTEGER},
      </if>
      <if test="mainslot != null" >
        mainSlot = #{mainSlot,jdbcType=INTEGER},
      </if>
      <if test="mainport != null" >
        mainPort = #{mainPort,jdbcType=INTEGER},
      </if>
      <if test="maintunnelid != null" >
        mainTunnelId = #{mainTunnelId,jdbcType=INTEGER},
      </if>
      <if test="mainpwid != null" >
        mainPwId = #{mainPwId,jdbcType=INTEGER},
      </if>
      <if test="standslot != null" >
        standSlot = #{standSlot,jdbcType=INTEGER},
      </if>
      <if test="standport != null" >
        standPort = #{standPort,jdbcType=INTEGER},
      </if>
      <if test="standtunnelid != null" >
        standTunnelId = #{standTunnelId,jdbcType=INTEGER},
      </if>
      <if test="standpwid != null" >
        standPwId = #{standPwId,jdbcType=INTEGER},
      </if>
      <if test="delaytime != null" >
        delayTime = #{delayTime,jdbcType=INTEGER},
      </if>
      <if test="backtype != null" >
        backType = #{backType,jdbcType=INTEGER},
      </if>
      <if test="businessid != null" >
        businessId = #{businessId,jdbcType=INTEGER},
      </if>
      <if test="siteid != null" >
        siteId = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="serviceid != null" >
        serviceId = #{serviceId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="PwProtect" >
    update pwprotect
    set protectType = #{protectType,jdbcType=INTEGER},
      mainSlot = #{mainSlot,jdbcType=INTEGER},
      mainPort = #{mainPort,jdbcType=INTEGER},
      mainTunnelId = #{mainTunnelId,jdbcType=INTEGER},
      mainPwId = #{mainPwId,jdbcType=INTEGER},
      standSlot = #{standSlot,jdbcType=INTEGER},
      standPort = #{standPort,jdbcType=INTEGER},
      standTunnelId = #{standTunnelId,jdbcType=INTEGER},
      standPwId = #{standPwId,jdbcType=INTEGER},
      delayTime = #{delayTime,jdbcType=INTEGER},
      backType = #{backType,jdbcType=INTEGER},
      businessId = #{businessId,jdbcType=INTEGER},
      siteId = #{siteId,jdbcType=INTEGER},
      serviceId = #{serviceId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryByCondition" resultType="PwProtect" parameterType="PwProtect" >
   select*from pwProtect where 1=1
   	<if test="serviceId > 0">
   		and serviceId=#{serviceId}
   	</if>
   	<if test="id > 0">
   		and id=#{id}
   	</if>
   	<if test="siteId > 0">
   		and siteId=#{siteId}
   	</if>
   	<if test="mainTunnelId > 0">
   		and mainTunnelId=#{mainTunnelId}
   	</if>
   	<if test="mainPwId > 0">
   		and mainPwId=#{mainPwId}
   	</if>
   	<if test="standTunnelId > 0">
   		and standTunnelId=#{standTunnelId}
   	</if>
   	<if test="standPwId > 0">
   		and standPwId=#{standPwId}
   	</if>
   	<if test="businessId > 0">
   		and businessId=#{businessId}
   	</if>
  </select>
  
</mapper>