<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.ecn.MCNMapper" >
  <resultMap id="BaseResultMap" type="MCN" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="neId" property="neId" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="mtu" property="mtu" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, neId, ip, mtu
  </sql>

  <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
    insert into ecn_mcn (neId, ip, 
      mtu)
    values (#{neId,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{mtu,jdbcType=INTEGER})
  </insert>

  <update id="update" parameterType="MCN" >
    UPDATE ecn_mcn SET ip =#{ip} , mtu =#{mtu} WHERE neId = #{neId}
  </update>
  
   <select id="queryByNeID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ecn_mcn
    where neId = #{neId}
  </select>
  
   <delete id="deleteBySite" parameterType="java.lang.String" >
    delete from ecn_mcn
    where neid = #{siteId}
  </delete>
  
  <insert id="insertMcn" parameterType="map" useGeneratedKeys="true" keyProperty="id">
    insert into ecn_mcn (neId,ip,mtu) values (#{neId},#{ip},#{mtu})
  </insert>
</mapper>