<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nms.db.dao.ptn.ecn.OSPFInterfaceMapper" >
  <resultMap id="BaseResultMap" type="OSPFInterface" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="neId" property="neid" jdbcType="VARCHAR" />
    <result column="interfaceName" property="interfacename" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="hello_interval" property="helloInterval" jdbcType="INTEGER" />
    <result column="dead_interval" property="deadInterval" jdbcType="INTEGER" />
    <result column="retransmit_interval" property="retransmitInterval" jdbcType="INTEGER" />
    <result column="transmit_delay" property="transmitDelay" jdbcType="INTEGER" />
    <result column="passive" property="passive" jdbcType="TINYINT" />
    <result column="cost" property="cost" jdbcType="INTEGER" />
    <result column="prioriy" property="prioriy" jdbcType="INTEGER" />
    <result column="authentication_type" property="authenticationType" jdbcType="VARCHAR" />
    <result column="activeStatus" property="activestatus" jdbcType="INTEGER" />
    <result column="OSPFStatus" property="ospfstatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, neId, interfaceName, area, type, hello_interval, dead_interval, retransmit_interval, 
    transmit_delay, passive, cost, prioriy, authentication_type, activeStatus, OSPFStatus
  </sql>
  
  <insert id="insert" parameterType="OSPFInterface"  useGeneratedKeys="true" keyProperty="id">
    insert into ecn_interface (neId, interfaceName, 
      area, type, hello_interval, 
      dead_interval, retransmit_interval, transmit_delay, 
      passive, cost, prioriy, 
      authentication_type, activeStatus
      )
    values (#{neId}, #{interfaceName}, 
      #{area}, #{type}, #{hello_interval}, 
      #{dead_interval}, #{retransmit_interval}, #{transmit_delay}, 
      #{passive}, #{cost}, #{prioriy}, 
      #{authentication_type}, #{activeStatus}
      )
  </insert>

  <update id="update" parameterType="OSPFInterface" >
   UPDATE ecn_interface SET area =#{area} , type =#{type} , hello_interval =#{hello_interval}, dead_interval =#{dead_interval} ,
   retransmit_interval =#{retransmit_interval},
   transmit_delay = #{transmit_delay},passive =#{passive},cost =#{cost},prioriy =#{prioriy},
   authentication_type =#{authentication_type},activeStatus=#{activeStatus} WHERE id =#{id}
  </update>
  <select id="queryByNeID" parameterType="java.lang.String" resultType="OSPFInterface">
  SELECT * from ecn_interface WHERE neId = #{0}
  </select>
  <select id="queryByCondition" parameterType="OSPFInterface" resultType="OSPFInterface">
  SELECT * from ecn_interface WHERE 1=1
  <if test="id != 0">
  and id = #{id}
  </if>
  </select>
  
   <delete id="deleteById" parameterType="java.lang.Integer" >
    DELETE from ecn_interface WHERE id =#{id}
  </delete>
  
   <delete id="deleteBySiteId" parameterType="java.lang.String" >
    DELETE from ecn_interface WHERE neId =#{siteid}
  </delete>
  
  <update id="updateActiveStatus" parameterType="map">
     UPDATE ecn_interface SET activeStatus = #{value}  WHERE Neid =#{siteId}
  </update>
  
  <update id="updateStatus" parameterType="OSPFInterface" >
   UPDATE ecn_interface SET activeStatus=#{activeStatus} WHERE neId =#{neId} and interfaceName=#{interfaceName}
  </update>
</mapper>